<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Book form </title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/simple.css" th:href="@{/css/simple.css}"/>

</head>
<body>
<h1> Book form </h1>
<!-- controller has to be called through action. use same var as the one in PostMapping. -->
<!--    @ means URL-->
<!--    method is get not post-->
<form th:object="${book}" th:action="@{/book/save}" method="post">
    <!-- for every indiv field that you want to collect-->
    <fieldset>
        <input type="hidden" th:field="*{isbn}">
    </fieldset>
    <fieldset>
        <!--message to print on screen: #-->
        <p><span th:text=#{book.name}></p>
        <input type="text" th:field=*{name}/>
    </fieldset>
    <fieldset>
        <p><span th:text=#{book.desc}></p>
        <input type="text" th:field=*{description}/>
    </fieldset>
    <fieldset>
        <p><span th:text=#{book.price}></p>
        <input type="text" th:field=*{price}/>
    </fieldset>
    <input type="submit" value="Submit"/>
</form>

</body>

